{% extends "layouts/layout.html" %} {% block content %}

<section>
  <div class="container">
    <h1 class="display-1">legal</h1>

    <h2>frameworks</h2>
    <p>
      This website utilizes the Flask and Bootstrap frameworks. The theme used on these frameworks was built exclusively
      by the team.
    </p>

    <h2>portfolio</h2>
    <p>Includes the following information:</p>
    <ol>
      <li>The solution to the theme</li>
      <li>Research</li>
      <li>Description of the final design</li>
      <li>List of Hardware and Software used</li>
      <li>Plan of Work Log</li>
      <li>Student Copyright Checklist</li>
      <li>References</li>
    </ol>
    <a class="btn btn-secondary" href="/portfolio">view portfolio</a>
  </div>
</section>

{% endblock %}
