{% extends "layouts/main.html" %} {% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/slideshow.css') }}" />

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("{{ url_for('static', filename='img/bg/regionals2022.jpg') }}") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    filter: brightness(0.3);
    transform: scaleX(-1);
    z-index: -1;
  }

  .img-wrapper {
    width: 100%;
  }

  .img-object {
    float: right;
    min-width: 100px !important;
  }

  @media only screen and (max-width: 991px) {
    .img-object {
      float: none;
    }
  }
</style>

<div id="background"></div>

<section>
  <div class="container">
    <h1 class="display-1">cumberland valley tsa</h1>

    <h2>our team</h2>
    <ul class="no-bullets">
      <li>Adil Aziz - 2009-024</li>
      <li>Drake Ma - 2009-016</li>
      <li>Logan Snyder - 2009-021</li>
      <li>Shunyu Tang - 2009-031</li>
    </ul>

    <h2>what is tsa?</h2>
    <div class="d-flex flex-row">
      <div class="p-2 text-wrapper">
        <p>
          TSA is a national, non-profit organization of high school and middle school student members who are engaged in
          STEM. Since TSA was chartered in 1978, over 5,000,000 members have participated through competitions,
          intracurricular activities, leadership opportunities, and community service.
        </p>
      </div>

      <div class="p-2 img-wrapper">
        <img class="img-fluid img-object" src="{{ url_for('static', filename='img/tsa-logo.png') }}" />
      </div>
    </div>

    <h2>our chapter officers</h2>
    <p>
      Our officers help run and monitor our TSA chapter. They provide assistance to our fellow members and help us
      improve as a whole. Each year, we elect new members to be a part of the team. There are officers in our high
      school as well as the two middle schools.
    </p>

    <!-- Container for the image gallery -->
    <div class="container slideshow-container">
      <!-- Full-width images with number text -->
      <div class="mySlides">
        <img class="img-fluid slideshow-img" src="{{ url_for('static', filename='img/officers/gupta_shubham.png') }}" />
      </div>

      <div class="mySlides">
        <img
          class="img-fluid slideshow-img"
          src="{{ url_for('static', filename='img/officers/kakaria_vikram.png') }}"
        />
      </div>

      <div class="mySlides">
        <img class="img-fluid slideshow-img" src="{{ url_for('static', filename='img/officers/kumar_adithan.png') }}" />
      </div>

      <div class="mySlides">
        <img class="img-fluid slideshow-img" src="{{ url_for('static', filename='img/officers/shah_veer.png') }}" />
      </div>

      <div class="mySlides">
        <img
          class="img-fluid slideshow-img"
          src="{{ url_for('static', filename='img/officers/thirunavukkarasu_sharan.png') }}"
        />
      </div>

      <div class="mySlides">
        <img
          class="img-fluid slideshow-img"
          src="{{ url_for('static', filename='img/officers/maliackel_adrian.png') }}"
        />
      </div>

      <div class="mySlides">
        <img class="img-fluid slideshow-img" src="{{ url_for('static', filename='img/officers/parikh_poorvi.png') }}" />
      </div>

      <div class="mySlides">
        <img
          class="img-fluid slideshow-img"
          src="{{ url_for('static', filename='img/officers/addagatla_laahini.png') }}"
        />
      </div>

      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <!-- Image text -->
      <div class="caption-container">
        <p id="caption"></p>
      </div>

      <!-- Thumbnail images -->
      <div class="slide-row">
        <div class="slide-column">
          <img
            class="demo cursor thumb-img"
            src="{{ url_for('static', filename='img/officers/gupta_shubham.png') }}"
            onclick="currentSlide(1)"
            alt="Shubham Gupta - President"
          />
        </div>
        <div class="slide-column">
          <img
            class="demo cursor thumb-img"
            src="{{ url_for('static', filename='img/officers/kakaria_vikram.png') }}"
            onclick="currentSlide(2)"
            alt="Vikram Kakaria - Vice President"
          />
        </div>
        <div class="slide-column">
          <img
            class="demo cursor thumb-img"
            src="{{ url_for('static', filename='img/officers/kumar_adithan.png') }}"
            onclick="currentSlide(3)"
            alt="Adithan Kumar - Treasurer"
          />
        </div>
        <div class="slide-column">
          <img
            class="demo cursor thumb-img"
            src="{{ url_for('static', filename='img/officers/shah_veer.png') }}"
            onclick="currentSlide(4)"
            alt="Veer Shah - Secretary"
          />
        </div>
        <div class="slide-column">
          <img
            class="demo cursor thumb-img"
            src="{{ url_for('static', filename='img/officers/thirunavukkarasu_sharan.png') }}"
            onclick="currentSlide(5)"
            alt="Sharan Thirunavukkarasu - Sergeant-at-Arms"
          />
        </div>
        <div class="slide-column">
          <img
            class="demo cursor thumb-img"
            src="{{ url_for('static', filename='img/officers/maliackel_adrian.png') }}"
            onclick="currentSlide(6)"
            alt="Adrian Maliackel - Reporter"
          />
        </div>
        <div class="slide-column">
          <img
            class="demo cursor thumb-img"
            src="{{ url_for('static', filename='img/officers/parikh_poorvi.png') }}"
            onclick="currentSlide(7)"
            alt="Poorvi Parikh - Historian"
          />
        </div>
        <div class="slide-column">
          <img
            class="demo cursor thumb-img"
            src="{{ url_for('static', filename='img/officers/addagatla_laahini.png') }}"
            onclick="currentSlide(8)"
            alt="Laahini Addagatla - Palimentarian"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>

{% endblock %}
