:root {
  --hot-orange: rgb(255, 172, 27);
  --light-orange: rgb(255, 228, 182);
  --hacker-green: rgb(60, 255, 0);
  --cool-blue-lighter: rgb(38, 56, 98);
  --cool-blue: rgb(27, 40, 71);
  --cooler-blue: rgb(21, 31, 56);
  --cool-gray: rgb(200, 200, 200);
  --blurple: #5865F2;
  --dark-blurple: #404ccc;
}
