{% extends "layouts/main.html" %} {% block content %}

<section>
  <div class="container">
    <h1 class="display-1">about</h1>

    <h2>our team</h2>
    <ul class="no-bullets">
      <li>Adil Aziz - 2009-024</li>
      <li>Drake Ma - 2009-016</li>
      <li>Logan Snyder - 2009-021</li>
      <li>Shunyu Tang - 2009-031</li>
    </ul>

    <h2>references</h2>
    <ol class="super">
      <li>
        https://petapixel.com/2022/11/15/this-is-the-specialized-vessel-that-will-launch-photo-tourism-space-pods/
      </li>
      <li>https://www.techeblog.com/space-perspective-ms-voyager-floating-spaceport-balloon/</li>
      <li>
        https://spacecoastdaily.com/2022/11/human-spaceflight-space-perspective-unveiles-ms-voyager-at-the-kennedy-space-center/
      </li>
      <li>https://spacenews.com/space-perspective-acquires-ship-for-ocean-based-balloon-launch-platform/</li>
    </ol>

    <h2>images</h2>
    <ul class="no-bullets">
      <li>https://techversions.com/blogs/spaceship-neptunes-cosmic-journey-will-take-you-to-the-karman-line/</li>
    </ul>
  </div>
</section>

{% endblock %}
