{% extends "layouts/main.html" %} {% block content %}

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("{{ url_for('static', filename='img/bg/capsule-low.jpg') }}") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    filter: brightness(0.3);
    transform: scaleX(-1);
    z-index: -1;
  }
</style>

<div id="background"></div>

<section>
  <div class="container">
    <h1 class="display-1">experience</h1>

    <h2>what you get</h2>
    <ul>
      <li>two 360 degrees rotating stern thrusters for precise mobility & dynamic positioning<sup>1</sup></li>
      <li>6 hours</li>
      <li>low G force</li>
      <li>feel of an astronaut and view of the world</li>
      <li>8 passengers</li>
    </ul>

    <h2>future plans</h2>
    <ul>
      <li>planned test flights that commence in early 2023<sup>3</sup></li>
      <li>setting a new bar in out-of-this-world thrilling experiences, as soon as late 2024, Space Perspective plans to take Space Explorers to space inside Spaceship Neptune’s pressurized capsule propelled by a high-performance SpaceBalloon without using rocket fuel or high G forces<sup>3</sup></li>
      <li>plans to expand internationally<sup>4</sup></li>
    </ul>
  </div>
</section>

{% endblock %}
