{% extends "layouts/main.html" %} {% block content %}

<section>
  <div class="container">
    <h1 class="display-1">experience</h1>
    <p class="lead">a space tourism website</p>
  </div>
</section>

<section>
  <div class="container">
    <h1 class="display-1">testing</h1>
    <p class="lead">this is a test</p>
  </div>
</section>

<section>
  <div class="container">
    <h1 class="display-1">testing</h1>
    <p class="lead">this is a test</p>
  </div>
</section>

<section>
  <div class="container">
    <h1 class="display-1">testing</h1>
    <p class="lead">this is a test</p>
  </div>
</section>

<section>
  <div class="container">
    <h1 class="display-1">testing</h1>
    <p class="lead">this is a test</p>
  </div>
</section>

<section>
  <div class="container">
    <h1 class="display-1">testing</h1>
    <p class="lead">this is a test</p>
  </div>
</section>
{% endblock %}
