{% extends "layouts/main.html" %} {% block content %}

<style>
  :root {
    --brightness: 0.3;
    --parallelogram-brightness: calc(2 - var(--brightness));
    --parallelogram-color: rgba(0, 0, 0, 0.4);
  }

  #background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("{{ url_for('static', filename='img/capsule-earth-bg.jpg') }}") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    filter: brightness(var(--brightness));
    transform: scaleX(-1);
    z-index: -1;
  }

  /* parallelogram div on landing page */
  .parallelogram {
    backdrop-filter: brightness(var(--parallelogram-brightness));
    padding: 1em 2em;

    -webkit-clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
    clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
  }

  .quote-container {
    padding: 4em 2em;
  }

  /* make quote container look good */
  .blockquote {
    border-radius: 10px;
    padding: 3em;
    margin: 1em 0;
  }

  .blockquote p {
    font-style: italic;
  }

  .blockquote-footer {
    color: var(--cool-gray);
    font-size: 0.8em;
    padding-top: 0.5em;
  }

  @media only screen and (max-width: 574px) {
    .blockquote {
      padding: 0em;
    }

    .parallelogram {
      -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
      clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    }
  }
</style>

<div id="background"></div>

<section>
  <div class="container mobile-center">
    <h1 class="display-1">interstellr</h1>
    <p class="lead subheader"><i>exploring the vastness of space, one mission at a time</i></p>
  </div>
</section>

<section>
  <div class="parallelogram">
    <div class="container quote-container">
      <blockquote class="blockquote">
        <p>
          “We always imagined offering the opportunity to view the most incredible natural phenomena from space,
          including the Northern Lights, the boot of Italy, the sheer scale of the Nile Delta, and the deep blue seas
          around the Bahamas”
        </p>
        <footer class="blockquote-footer">Founder and co-CEO of Space Perspective</footer>
      </blockquote>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <ul>
      <li>use biofuel to reduce its carbon footprint<sup>1</sup></li>
      <li>
        see the world anew through its vast windows, 450 miles in any direction. The ultra-comfortable, accessible, and
        gentle six-hour journey redefines space travel<sup>3</sup>
      </li>
      <li>commercial flights as soon as late 2024<sup>4</sup></li>
      <li>has now sold more than 1,000 [sales]<sup>4</sup></li>
    </ul>
  </div>
</section>

{% endblock %}
