{% extends "layouts/main.html" %} {% block content %}

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("{{ url_for('static', filename='img/capsule-earth-bg.jpg') }}") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    filter: brightness(0.3);
    transform: scaleX(-1);
    z-index: -1;
  }
</style>

<section>
  <div id="background"></div>
  <div class="container mobile-center">
    <h1 class="display-1">interstellr</h1>
    <p class="lead subheader"><i>exploring the vastness of space, one mission at a time</i></p>
  </div>
</section>

<section>
  <div class="container">
    <ul>
      <li>use biofuel to reduce its carbon footprint<sup>1</sup></li>
      <li>
        see the world anew through its vast windows, 450 miles in any direction. The ultra-comfortable, accessible, and
        gentle six-hour journey redefines space travel<sup>3</sup>
      </li>
      <li>commercial flights as soon as late 2024<sup>4</sup></li>
      <li>has now sold more than 1,000 [sales]<sup>4</sup></li>
    </ul>

    <div class="container">
      <blockquote class="blockquote">
        <p>
          “We always imagined offering the opportunity to view the most incredible natural phenomena from space,
          including the Northern Lights, the boot of Italy, the sheer scale of the Nile Delta, and the deep blue seas
          around the Bahamas”
        </p>
        <footer class="blockquote-footer">Founder and co-CEO of Space Perspective</footer>
      </blockquote>
    </div>
  </div>
</section>

{% endblock %}
