{% extends "layouts/layout.html" %} {% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/parallelogram.css') }}" />

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("{{ url_for('static', filename='img/bg/capsule-earth-bg.jpg') }}") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    filter: brightness(var(--brightness));
    transform: scaleX(-1);
    z-index: -1;
  }
</style>

<div id="background">
  <div id="particles-js"></div>
  <script src="{{ url_for('static', filename='particles/particles.js') }}"></script>
  <script src="{{ url_for('static', filename='particles/app.js') }}"></script>
</div>

<section>
  <div class="container mobile-center">
    <h1 class="display-1">interstellr</h1>
    <p class="subheader"><i>exploring the vastness of space, one mission at a time</i></p>
  </div>
</section>

<section>
  <div class="parallelogram">
    <div class="container quote-container">
      <blockquote class="blockquote">
        <p>
          “We always imagined offering the opportunity to view the most incredible natural phenomena from space,
          including the Northern Lights, the boot of Italy, the sheer scale of the Nile Delta, and the deep blue seas
          around the Bahamas”
        </p>
        <footer class="blockquote-footer">Founder and co-CEO of Space Perspective</footer>
      </blockquote>
    </div>
  </div>
</section>

<section>
  <div class="container promo-container">
    <div class="d-flex flex-row">
      <div class="p-2 text-wrapper">
        <p style="text-align: right">use biofuel to reduce its carbon footprint<sup>1</sup></p>
      </div>

      <div class="p-2 img-wrapper">
        <img class="img-fluid" src="{{ url_for('static', filename='img/landing/biofuel.jpg') }}" />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container promo-container">
    <div class="d-flex flex-row">
      <div class="p-2 img-wrapper">
        <img
          class="img-fluid"
          src="{{ url_for('static', filename='img/landing/window-earth.jpg') }}"
          style="float: right"
        />
      </div>

      <div class="p-2 text-wrapper">
        <p>see the world anew through its vast windows, 450 miles in any direction<sup>3</sup></p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container promo-container">
    <div class="d-flex flex-row">
      <div class="p-2 text-wrapper">
        <p style="text-align: right">commercial flights as soon as late 2024<sup>4</sup></p>
      </div>

      <div class="p-2 img-wrapper">
        <img class="img-fluid" src="{{ url_for('static', filename='img/landing/commercial.webp') }}" />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container promo-container">
    <div class="d-flex flex-row">
      <div class="p-2 img-wrapper">
        <img class="img-fluid" src="{{ url_for('static', filename='img/landing/sales.png') }}" style="float: right" />
      </div>
      <div class="p-2 text-wrapper">
        <p>has now sold more than 1,000 [sales]<sup>4</sup></p>
      </div>
    </div>
  </div>
</section>

<section class="spacer"></section>

<section class="contact-section">
  <div class="container mobile-center">
    <h2>let's get in touch</h2>
    <p>Join our mailing list to stay up to date on the latest news and announcements.</p>
    <form class="row">
      <div class="col-12">
        <div class="input-group">
          <input type="email" class="form-control" id="email" placeholder="email" required />
          <button class="btn btn-primary" type="submit">subscribe</button>
        </div>
      </div>
    </form>
  </div>
</section>

<script>
  // make spacer the same height as contact section
  const contactSection = document.querySelector(".contact-section");
  const spacer = document.querySelector(".spacer");
  spacer.style.height = contactSection.offsetHeight + "px";
</script>

{% endblock %}
