{% extends "layouts/layout.html" %} {% block content %}

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("{{ url_for('static', filename='img/bg/capsule-in-space.jpg') }}") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    filter: brightness(0.3);
    transform: scaleX(-1);
    z-index: -1;
  }
</style>

<div id="background"></div>

<section>
  <div class="container">
    <h1 class="display-1">spaceship</h1>

    <h2>vehicle</h2>
    <p>
      The spaceship is a 292-foot-long vessel<sup>1</sup> that is designed to take you on a 6 hour flight. The spaceship
      is equipped with 2 360 degrees rotating stern thrusters for precise mobility & dynamic positioning. The spaceship
      is designed to have a low G force and give you the feel of an astronaut and view of the world.
    </p>
    <p>
      It features a lot of glass for viewing and a shape designed for smooth landing in the ocean or other bodies of
      water, which can accommodate eight passengers<sup>4</sup>.
    </p>

    <h2>safety</h2>
    <p>
      Test flights are set to begin next year<sup>2</sup>. Communications throughout the operation – between land, sea,
      and capsule – will be provided by Silvus Technologies, utilizing military-grade StreamCaster MANET radios and
      MN-MIMO waveform technology<sup>3</sup>. The capsule is also pressurized<sup>3</sup>.
    </p>

    <h2>launch</h2>
    <p>
      Marine Spaceports create ideal launch conditions in two ways: by navigating to areas of good weather, which allows
      for year-round operations within a region, and by moving with the sea breeze, so there is virtually no wind across
      the deck. This enables more frequent launch opportunities<sup>3</sup>.
    </p>

    <h2>recovery</h2>
    <p>
      A splash-cone at its base will provide a smooth water landing<sup>2</sup>. A patent-pending splash-cone at its
      base provides a smooth and gentle water landing. Fast boats from Fluid Watercraft will then arrive to stabilize
      the capsule, which will be lifted onto the Marine Spaceport<sup>3</sup>.
    </p>
  </div>
</section>

{% endblock %}
